@font-face {
    font-family: "sajat";
    src: url("..\swissko.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
html{
    background-color: cadetblue;
    font-family: sajat;
    text-align: left;  
}

h2{
    font-family: 'Allison', cursive;
}

#udvozlet
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(6, 153, 121); 
}

body{
    background-color: gray;
}
p
{
    color:rgb(59, 10, 10);
    font-size: 24px;
    font-family: sajat;
}
img
{
    box-shadow: 6px 6px 4px black;
    width: 20%;height: 20%;
    margin-left: 10px;
}
#fontos_h2{ color: blue;} /* A # az ID szeketor*/
.tartalom                   /* A . jelenti az osztályra hivatkozást: .tartalom= a "tartalom" nevű osztály */
{   
    font-size: 18px;          
    color: crimson;
}
.span_osztaly   
{
    font-style: italic;
}
.kepek_osztalya
{
    padding: 4px;
    margin: 5%;
border-style: solid ;
border-radius: 0in;
border-color: fuchsia;
background-color: darkslategray;
}

.vilagos_osztaly{
       background-color: dimgray;
 }
 #nano_kep{
     display:ruby ;

position: fixed;
}